{% extends 'base_usuarios.html' %}
{% block content %}
      <!-- Jumbotron -->
	  <div class="container">
      <div class="jumbotron">
        <h1>Conheça nosso sistema!</h1>
        <p class="lead">Bem-Vindo <br>O nosso sistema foi desenvolvido com a finalidade de ajudar no controle de vendas dos seus produtos!</p>
        <p><a class="btn btn-lg btn-success" href="textoDescritivo1.html" role="button">Conheçanos...</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Produtos de qualidade</h2>
          <p class="text-danger">Nossos produtos possuem garantia de até 3 anos!</p>
          <p>Todos os nossos produtos são importados da china, todos os nossos clientes já declararam estarem satisfeitos!</p>
          <p><a class="btn btn-primary" href="td1s.html" role="button">detalhes &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Credibilidade</h2>
          <p>Somos referência no mercado de venda, garantimos ao cliente a melhor confiabilidade,pois nunca no senario mercantil agimos de má fé.</p>
          <p><a class="btn btn-primary" href="td2s.html" role="button">detalhes &raquo;</a></p>
       </div>
        <div class="col-lg-4">
          <h2>Ótimos preços</h2>
          <p>Está com pouco dinheiro? confira nossos preços, pois cabe no seu bolso!</p>
          <p><a class="btn btn-primary" href="td3s.html" role="button">detalhes &raquo;</a></p>
        </div>
      </div>
{% endblock %}
     
